@using ExampleBlog.Models;
@model List<ArticleModel>
<h1>Article List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>User Name</th>
            <th>Category Name </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.UserModel.Name</td>
                <td>@item.CategoryModel.Name</td>
                <td>
                    <form method="post" action="/Article/Delete">
                        <input type="hidden" name="articleId" value="@item.Id" />
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>


</table>

